In [1]:
#IMPORTS
import json
import geopandas as gpd
import numpy as numpy
import pandas as pd

# Setting up barrios_gdf for cleaning

In this section, we read barrios_carcteristicas.geojson from datos/datos_out and we transform it into a dataframe using geopandas library

In [2]:
#SETTING UP barrios_caracteristicas as GDF

# SETTING UP BARRIOS DF
path = '../datos/datos_out/barrios_caracteristicas_final.geojson'


#CARGAMOS LOS DATOS DE LOS BARRIOS
with open(path) as json_file:
    json_data = json.load(json_file)

barrios_json = []
for i in range(len(json_data['features'])):
    barrios_json.append(json_data['features'][i])           #Guardamos resto de campos de geojson


barrios_gdf = gpd.GeoDataFrame.from_features(barrios_json)
barrios_gdf.crs = 'epsg:4326' #Aseguramos que la proyecci√≥n es la adecuada para coordenadas GPS

In [3]:
# TRANSFORMING MY DF FROM GEOPANDAS TO PANDAS

barrios_df = pd.DataFrame(barrios_gdf)

barrios_df

,geometry,coddistrit,gis_gis_barrios_area,object_id_barrio,linkid,codbarrio,coddistbar,geo_point_2d,nombre_barrio,last_edited_user,...,num_colegios,id_caract_num_colegios,num_chargestations,id_caract_num_chargestations,pm25,id_caract_pm25,num_contenedores,id_caract_num_contenedores,num_transporte,id_caract_num_transporte
0,"POLYGON ((-0.33459 39.45478, -0.33326 39.45487...",11,917112.56250,62,0,5,115,"[39.44628964870906, -0.3326600366971329]",NATZARET,None,...,6.0,2,NaN,8,10.0,5,184.0,7,11.0,1
1,"POLYGON ((-0.38124 39.45463, -0.38281 39.44951...",9,374887.53125,63,0,3,093,"[39.45082750748332, -0.3853982961775011]",LA CREU COBERTA,None,...,1.0,2,2.0,8,21.0,5,162.0,7,8.0,1
2,"POLYGON ((-0.34709 39.47548, -0.34144 39.47379...",13,NaN,76,0,2,132,"[39.47198431553791, -0.3450427029615464]",CIUTAT JARDI,None,...,5.0,2,NaN,8,12.0,5,238.0,7,10.0,1
3,"POLYGON ((-0.28767 39.55682, -0.28829 39.55654...",17,NaN,601,18,5,175,"[39.55880504953868, -0.3031699565111558]",RAFALELL-VISTABELLA,None,...,NaN,2,NaN,8,12.0,5,NaN,7,NaN,1
4,"POLYGON ((-0.33151 39.48561, -0.33254 39.48046...",13,NaN,137,0,5,135,"[39.48035805242704, -0.3410905938386986]",LA CARRASCA,None,...,10.0,2,NaN,8,12.0,5,237.0,7,21.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,"POLYGON ((-0.39047 39.47825, -0.38996 39.47754...",3,496668.75000,28,0,3,033,"[39.473565513491664, -0.39098170775459257]",LA PETXINA,None,...,11.0,2,NaN,8,12.0,5,279.0,7,14.0,1
84,"POLYGON ((-0.37567 39.47381, -0.37423 39.47351...",1,438658.31250,37,0,6,016,"[39.47010643870186, -0.3760489821791233]",SANT FRANCESC,None,...,2.0,2,2.0,8,12.0,5,580.0,7,27.0,1
85,"POLYGON ((-0.35018 39.42223, -0.35011 39.42227...",19,NaN,249,0,3,193,"[39.406290326215334, -0.33967854582733203]",PINEDO,None,...,2.0,2,NaN,8,10.0,5,185.0,7,14.0,1
86,"POLYGON ((-0.36720 39.50425, -0.36767 39.50338...",15,NaN,201,0,1,151,"[39.494312122911424, -0.3699310988383476]",ELS ORRIOLS,None,...,9.0,2,NaN,8,NaN,5,214.0,7,21.0,1
87,"POLYGON ((-0.35839 39.45904, -0.35801 39.45867...",10,540119.62500,57,0,5,105,"[39.45287103221434, -0.3659376655648462]",NA ROVELLA,None,...,7.0,2,NaN,8,21.0,5,192.0,7,15.0,1

In [4]:
#Checking columns of barrios_df
barrios_df.columns

Index(['geometry', 'coddistrit', 'gis_gis_barrios_area', 'object_id_barrio',
       'linkid', 'codbarrio', 'coddistbar', 'geo_point_2d', 'nombre_barrio',
       'last_edited_user', 'last_edited_date', '%_zona_verde',
       'id_caract_%_zona_verde', 'nivel_acustico', 'id_caract_nivel_acustico',
       'num_hospitales', 'id_caract_num_hospitales', 'num_colegios',
       'id_caract_num_colegios', 'num_chargestations',
       'id_caract_num_chargestations', 'pm25', 'id_caract_pm25',
       'num_contenedores', 'id_caract_num_contenedores', 'num_transporte',
       'id_caract_num_transporte'],
      dtype='object')

In [5]:
# Eliminamos columnas que no necesitamos. Como identificativo un√≠voco para cada barrio nos quedaremos con el object_id_barrio. 
# Por tanto eliminaremos las siguientes columnas que no nos aportan informacion relevante (coddistrit, linkid, codbarrio, coddistbar, last_edited_user, last_edited_date)
# El area la eliminamos porque la calculamos con python

barrios_df = barrios_df.drop(['coddistrit', 'linkid', 'codbarrio', 'coddistbar', 'last_edited_user', 'last_edited_date', 'gis_gis_barrios_area'], axis = 1)

# Comprobamos ue se han eliminado correctamente las columnas:

barrios_df.columns

Index(['geometry', 'object_id_barrio', 'geo_point_2d', 'nombre_barrio',
       '%_zona_verde', 'id_caract_%_zona_verde', 'nivel_acustico',
       'id_caract_nivel_acustico', 'num_hospitales',
       'id_caract_num_hospitales', 'num_colegios', 'id_caract_num_colegios',
       'num_chargestations', 'id_caract_num_chargestations', 'pm25',
       'id_caract_pm25', 'num_contenedores', 'id_caract_num_contenedores',
       'num_transporte', 'id_caract_num_transporte'],
      dtype='object')

In [6]:
# Eliminamos las filas de los barrios que no pertenecen al nucleo urbano de Valencia, ya que los datasets escogidos son inconsistentes y concentran m√°s los datos en el nucleo urbano
# Se eliminan barrios(EL PALMAR, EL PERELLONET, EL SALER, PINEDO, LES CASES DE BARCENA, MASSAROJOS, MAHUELLA-TAULADELLA, RAFALELL-VISTABELLA)

blacklist = ['EL PALMAR', 'EL PERELLONET', 'EL SALER', 'PINEDO', 'LES CASES DE BARCENA', 'MASSARROJOS', 'MAHUELLA-TAULADELLA', 'RAFALELL-VISTABELLA']

for i in blacklist:
    barrios_df = barrios_df.drop(barrios_df.loc[barrios_df['nombre_barrio'] == i].index)


barrios_df

,geometry,object_id_barrio,geo_point_2d,nombre_barrio,%_zona_verde,id_caract_%_zona_verde,nivel_acustico,id_caract_nivel_acustico,num_hospitales,id_caract_num_hospitales,num_colegios,id_caract_num_colegios,num_chargestations,id_caract_num_chargestations,pm25,id_caract_pm25,num_contenedores,id_caract_num_contenedores,num_transporte,id_caract_num_transporte
0,"POLYGON ((-0.33459 39.45478, -0.33326 39.45487...",62,"[39.44628964870906, -0.3326600366971329]",NATZARET,0.118869,3,3.0,6,1.0,4,6.0,2,NaN,8,10.0,5,184.0,7,11.0,1
1,"POLYGON ((-0.38124 39.45463, -0.38281 39.44951...",63,"[39.45082750748332, -0.3853982961775011]",LA CREU COBERTA,0.037566,3,3.5,6,NaN,4,1.0,2,2.0,8,21.0,5,162.0,7,8.0,1
2,"POLYGON ((-0.34709 39.47548, -0.34144 39.47379...",76,"[39.47198431553791, -0.3450427029615464]",CIUTAT JARDI,0.205871,3,3.5,6,NaN,4,5.0,2,NaN,8,12.0,5,238.0,7,10.0,1
4,"POLYGON ((-0.33151 39.48561, -0.33254 39.48046...",137,"[39.48035805242704, -0.3410905938386986]",LA CARRASCA,0.187377,3,3.5,6,NaN,4,10.0,2,NaN,8,12.0,5,237.0,7,21.0,1
7,"POLYGON ((-0.35762 39.49410, -0.35762 39.49409...",202,"[39.49635509681184, -0.36282126402044845]",SANT LLORENS,0.076189,3,3.0,6,NaN,4,8.0,2,NaN,8,NaN,5,270.0,7,11.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"POLYGON ((-0.38139 39.49868, -0.38120 39.49693...",9,"[39.493005640921645, -0.3910022045676008]",BENICALAP,0.154520,3,3.0,6,3.0,4,18.0,2,NaN,8,26.0,5,831.0,7,43.0,1
83,"POLYGON ((-0.39047 39.47825, -0.38996 39.47754...",28,"[39.473565513491664, -0.39098170775459257]",LA PETXINA,0.087284,3,4.0,6,1.0,4,11.0,2,NaN,8,12.0,5,279.0,7,14.0,1
84,"POLYGON ((-0.37567 39.47381, -0.37423 39.47351...",37,"[39.47010643870186, -0.3760489821791233]",SANT FRANCESC,0.134529,3,4.0,6,NaN,4,2.0,2,2.0,8,12.0,5,580.0,7,27.0,1
86,"POLYGON ((-0.36720 39.50425, -0.36767 39.50338...",201,"[39.494312122911424, -0.3699310988383476]",ELS ORRIOLS,0.153242,3,3.0,6,1.0,4,9.0,2,NaN,8,NaN,5,214.0,7,21.0,1
87,"POLYGON ((-0.35839 39.45904, -0.35801 39.45867...",57,"[39.45287103221434, -0.3659376655648462]",NA ROVELLA,0.216731,3,3.0,6,1.0,4,7.0,2,NaN,8,21.0,5,192.0,7,15.0,1

In [7]:
# Checking index: obtenemos el indice que corresponde a cada fila de nuestro DF
barrios_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 87
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   geometry                      80 non-null     geometry
 1   object_id_barrio              80 non-null     int64
 2   geo_point_2d                  80 non-null     object
 3   nombre_barrio                 80 non-null     object
 4   %_zona_verde                  76 non-null     float64
 5   id_caract_%_zona_verde        80 non-null     int64
 6   nivel_acustico                80 non-null     float64
 7   id_caract_nivel_acustico      80 non-null     int64
 8   num_hospitales                44 non-null     float64
 9   id_caract_num_hospitales      80 non-null     int64
 10  num_colegios                  76 non-null     float64
 11  id_caract_num_colegios        80 non-null     int64
 12  num_chargestations            15 non-null     float64
 13  id_caract_num_chargestations  80 non-null     int64
 14  pm25                          53 non-null     float64
 15  id_caract_pm25                80 non-null     int64
 16  num_contenedores              80 non-null     float64
 17  id_caract_num_contenedores    80 non-null     int64
 18  num_transporte                79 non-null     float64
 19  id_caract_num_transporte      80 non-null     int64
dtypes: float64(8), geometry(1), int64(9), object(2)
memory usage: 13.1+ KB

In [8]:
# Para cada caracteristica rellenamos los valores faltantes (NaN) con 0s en caso de que el valor sea cuantitativo. (%_zona_verde, num_hospitales, num_colegios, num_chargestations, num_contenedores)
myList = ['%_zona_verde', 'num_hospitales', 'num_colegios', 'num_chargestations', 'num_contenedores', 'num_transporte']

for i in myList:
    barrios_df[i] = barrios_df[i].fillna(0)

barrios_df.loc[barrios_df['num_colegios'] == 0] # Comprobamos la columna colegios para ver que se ha rellenado correctamente

barrios_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 87
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   geometry                      80 non-null     geometry
 1   object_id_barrio              80 non-null     int64
 2   geo_point_2d                  80 non-null     object
 3   nombre_barrio                 80 non-null     object
 4   %_zona_verde                  80 non-null     float64
 5   id_caract_%_zona_verde        80 non-null     int64
 6   nivel_acustico                80 non-null     float64
 7   id_caract_nivel_acustico      80 non-null     int64
 8   num_hospitales                80 non-null     float64
 9   id_caract_num_hospitales      80 non-null     int64
 10  num_colegios                  80 non-null     float64
 11  id_caract_num_colegios        80 non-null     int64
 12  num_chargestations            80 non-null     float64
 13  id_caract_num_chargestations  80 non-null     int64
 14  pm25                          53 non-null     float64
 15  id_caract_pm25                80 non-null     int64
 16  num_contenedores              80 non-null     float64
 17  id_caract_num_contenedores    80 non-null     int64
 18  num_transporte                80 non-null     float64
 19  id_caract_num_transporte      80 non-null     int64
dtypes: float64(8), geometry(1), int64(9), object(2)
memory usage: 13.1+ KB

In [9]:
# CHANGING DATA TYPES
# Los hospitales, colegios, contenedores, estaciones de transporte son valores discretos que en nuestro df vienen como float64. Los cambiamos a int64

myList = ['num_hospitales', 'num_colegios', 'num_contenedores', 'num_transporte']

for i in myList:
    barrios_df[i] = barrios_df[i].astype('int64')

# Las estaciones de carga (num_chargestations) est√°n presentes en muy pocos barrios. Por tanto nos interesa ver en qu√© barrios est√°n presentes estas. Para ello haremos que la columna num_chargestations sea bool. De forma que
# indique True, cuando un barrio tiene estaciones de carga y False cuando no. Le cambiamos el nobre a la columna num_chargestations por chargestations para no indicar el nombre de la columna que es un n√∫mero

barrios_df['num_chargestations'] = barrios_df['num_chargestations'].astype('bool')
barrios_df = barrios_df.rename(columns = {'num_chargestations' : 'chargestations'})

barrios_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 87
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   geometry                      80 non-null     geometry
 1   object_id_barrio              80 non-null     int64
 2   geo_point_2d                  80 non-null     object
 3   nombre_barrio                 80 non-null     object
 4   %_zona_verde                  80 non-null     float64
 5   id_caract_%_zona_verde        80 non-null     int64
 6   nivel_acustico                80 non-null     float64
 7   id_caract_nivel_acustico      80 non-null     int64
 8   num_hospitales                80 non-null     int64
 9   id_caract_num_hospitales      80 non-null     int64
 10  num_colegios                  80 non-null     int64
 11  id_caract_num_colegios        80 non-null     int64
 12  chargestations                80 non-null     bool
 13  id_caract_num_chargestations  80 non-null     int64
 14  pm25                          53 non-null     float64
 15  id_caract_pm25                80 non-null     int64
 16  num_contenedores              80 non-null     int64
 17  id_caract_num_contenedores    80 non-null     int64
 18  num_transporte                80 non-null     int64
 19  id_caract_num_transporte      80 non-null     int64
dtypes: bool(1), float64(3), geometry(1), int64(13), object(2)
memory usage: 12.6+ KB

In [10]:
# Comprobamos los valores de la columna num_chargestations:
barrios_df['chargestations']

# Efectivamente, si en un barrio hay estaciones de carga se almacena el valor como true. Si no es False

0     False
1      True
2     False
4     False
7     False
      ...
82    False
83    False
84     True
86    False
87    False
Name: chargestations, Length: 80, dtype: bool

In [190]:
# Finalmente nos queda lidiar con los nulos para el indice de pm25 (contaminaci√≥n). Vamos a ver los barrios que tienen como null este valor:

barrios_df.loc[barrios_df['pm25'].isna()].head()

,geometry,object_id_barrio,geo_point_2d,nombre_barrio,%_zona_verde,id_caract_%_zona_verde,nivel_acustico,id_caract_nivel_acustico,num_hospitales,id_caract_num_hospitales,num_colegios,id_caract_num_colegios,chargestations,id_caract_num_chargestations,pm25,id_caract_pm25,num_contenedores,id_caract_num_contenedores,num_transporte,id_caract_num_transporte
7,"POLYGON ((-0.35762 39.49410, -0.35762 39.49409...",202,"[39.49635509681184, -0.36282126402044845]",SANT LLORENS,0.076189,3,3.0,6,0,4,8,2,False,8,NaN,5,270,7,11,1
10,"POLYGON ((-0.36720 39.51203, -0.36734 39.51182...",617,"[39.51492937567956, -0.37685442512193834]",CARPESA,0.000000,3,2.0,6,1,4,0,2,False,8,NaN,5,81,7,6,1
12,"POLYGON ((-0.37639 39.52831, -0.37667 39.52737...",5,"[39.525644468218076, -0.3846207009279064]",BENIFARAIG,0.000000,3,2.5,6,1,4,2,2,False,8,NaN,5,76,7,8,1
14,"POLYGON ((-0.38105 39.48223, -0.38023 39.48212...",22,"[39.47904419159028, -0.3799855271302711]",EL CARME,0.228795,3,3.5,6,0,4,5,2,False,8,NaN,5,183,7,4,1
15,"POLYGON ((-0.36513 39.47901, -0.36339 39.47851...",25,"[39.47613782154427, -0.3636903649528479]",EXPOSICIO,0.260577,3,4.0,6,1,4,6,2,True,8,NaN,5,227,7,12,1
16,"POLYGON ((-0.35822 39.47700, -0.35389 39.47585...",31,"[39.47098032023145, -0.3588449910815803]",MESTALLA,0.230933,3,3.0,6,1,4,12,2,True,8,NaN,5,397,7,30,1
25,"POLYGON ((-0.36229 39.48483, -0.36274 39.48389...",21,"[39.48174281412897, -0.3630732531416211]",JAUME ROIG,0.145308,3,4.0,6,0,4,2,2,False,8,NaN,5,159,7,6,1
27,"POLYGON ((-0.38582 39.44784, -0.38631 39.44640...",66,"[39.44497017390368, -0.3900252260136304]",SANT MARCEL.LI,0.206900,3,3.0,6,1,4,8,2,False,8,NaN,5,178,7,9,1
29,"POLYGON ((-0.37059 39.47721, -0.37162 39.47676...",26,"[39.47662037964931, -0.3751184490096385]",LA SEU,0.077031,3,3.0,6,0,4,3,2,False,8,NaN,5,149,7,4,1
35,"POLYGON ((-0.37122 39.49839, -0.37180 39.49703...",10,"[39.49519800261453, -0.3769320951602514]",TORREFIEL,0.160518,3,3.0,6,2,4,14,2,False,8,NaN,5,444,7,29,1
36,"POLYGON ((-0.38216 39.49029, -0.38050 39.49066...",11,"[39.489296785225164, -0.3793889618392513]",TORMOS,0.177162,3,4.0,6,1,4,5,2,False,8,NaN,5,164,7,6,1
37,"POLYGON ((-0.36886 39.48626, -0.36869 39.48656...",17,"[39.48176723495696, -0.3688325087367652]",TRINITAT,0.451363,3,3.5,6,1,4,9,2,True,8,NaN,5,183,7,12,1
38,"POLYGON ((-0.39012 39.48554, -0.38922 39.48593...",19,"[39.48318800144057, -0.3858001000910805]",LES TENDETES,0.228133,3,3.0,6,0,4,6,2,False,8,NaN,5,123,7,7,1
47,"POLYGON ((-0.40036 39.51462, -0.39903 39.51394...",619,"[39.50591306055196, -0.38549407412587094]",POBLE NOU,0.026694,3,3.5,6,0,4,0,2,False,8,NaN,5,80,7,12,1
50,"POLYGON ((-0.39403 39.42720, -0.39402 39.42722...",252,"[39.43327922931482, -0.3911988081337183]",LA TORRE,0.040145,3,3.5,6,1,4,2,2,False,8,NaN,5,137,7,6,1
51,"POLYGON ((-0.39301 39.43835, -0.39374 39.43570...",233,"[39.44257399693003, -0.4115784520027646]",FAITANAR,0.021747,3,3.0,6,0,4,2,2,False,8,NaN,5,80,7,2,1
52,"POLYGON ((-0.38868 39.43346, -0.38868 39.43346...",251,"[39.43246749635461, -0.3782011306971909]",EL FORN D'ALCEDO,0.006454,3,4.0,6,1,4,1,2,False,8,NaN,5,83,7,3,1
54,"POLYGON ((-0.39032 39.45643, -0.39475 39.44987...",60,"[39.45376465869734, -0.39476619389425344]",FAVARA,0.036164,3,4.0,6,2,4,3,2,False,8,NaN,5,90,7,5,1
55,"POLYGON ((-0.39032 39.45643, -0.38863 39.45552...",61,"[39.45150389137291, -0.3908055431292063]",L'HORT DE SENABRE,0.159258,3,3.0,6,1,4,10,2,False,8,NaN,5,289,7,11,1
56,"POLYGON ((-0.39830 39.45458, -0.39746 39.45393...",64,"[39.44492338630296, -0.39555042391499123]",CAMI REAL,0.247689,3,4.0,6,0,4,5,2,False,8,NaN,5,111,7,9,1
65,"POLYGON ((-0.33151 39.48561, -0.33150 39.48561...",585,"[39.479689301253586, -0.3284114003067995]",LA MALVA-ROSA,0.126118,3,3.0,6,3,4,8,2,True,8,NaN,5,351,7,24,1
67,"POLYGON ((-0.37388 39.49206, -0.37273 39.49126...",12,"[39.488706909597745, -0.37322650114709455]",SANT ANTONI,0.044292,3,4.5,6,1,4,6,2,False,8,NaN,5,187,7,6,1
68,"POLYGON ((-0.35901 39.48892, -0.35726 39.48869...",13,"[39.484597724656304, -0.35940493903414444]",BENIMACLET,0.084708,3,3.5,6,1,4,17,2,True,8,NaN,5,576,7,23,1
69,"POLYGON ((-0.38573 39.48943, -0.38554 39.48927...",14,"[39.48596998286587, -0.3829999409817544]",MARXALENES,0.233860,3,3.0,6,0,4,6,2,False,8,NaN,5,190,7,15,1
70,"POLYGON ((-0.36912 39.48739, -0.36983 39.48633...",16,"[39.48407373540524, -0.3747764384107742]",MORVEDRE,0.234148,3,4.0,6,0,4,5,2,False,8,NaN,5,209,7,14,1
71,"POLYGON ((-0.35950 39.48146, -0.35948 39.48148...",23,"[39.478549681331515, -0.358624794976353]",CIUTAT UNIVERSITARIA,0.218181,3,4.0,6,1,4,3,2,False,8,NaN,5,95,7,11,1
86,"POLYGON ((-0.36720 39.50425, -0.36767 39.50338...",201,"[39.494312122911424, -0.3699310988383476]",ELS ORRIOLS,0.153242,3,3.0,6,1,4,9,2,False,8,NaN,5,214,7,21,1

In [191]:
# Para rellenar los valores null de pm25 podemos calcular el indice de pm25 medio del resto de barrios y asignarselo a los barrios que no tienen este valor definido:
barrios_df['pm25'] = barrios_df['pm25'].fillna(barrios_df['pm25'].mean())

barrios_df

,geometry,object_id_barrio,geo_point_2d,nombre_barrio,%_zona_verde,id_caract_%_zona_verde,nivel_acustico,id_caract_nivel_acustico,num_hospitales,id_caract_num_hospitales,num_colegios,id_caract_num_colegios,chargestations,id_caract_num_chargestations,pm25,id_caract_pm25,num_contenedores,id_caract_num_contenedores,num_transporte,id_caract_num_transporte
0,"POLYGON ((-0.33459 39.45478, -0.33326 39.45487...",62,"[39.44628964870906, -0.3326600366971329]",NATZARET,0.118869,3,3.0,6,1,4,6,2,False,8,10.000000,5,184,7,11,1
1,"POLYGON ((-0.38124 39.45463, -0.38281 39.44951...",63,"[39.45082750748332, -0.3853982961775011]",LA CREU COBERTA,0.037566,3,3.5,6,0,4,1,2,True,8,21.000000,5,162,7,8,1
2,"POLYGON ((-0.34709 39.47548, -0.34144 39.47379...",76,"[39.47198431553791, -0.3450427029615464]",CIUTAT JARDI,0.205871,3,3.5,6,0,4,5,2,False,8,12.000000,5,238,7,10,1
4,"POLYGON ((-0.33151 39.48561, -0.33254 39.48046...",137,"[39.48035805242704, -0.3410905938386986]",LA CARRASCA,0.187377,3,3.5,6,0,4,10,2,False,8,12.000000,5,237,7,21,1
7,"POLYGON ((-0.35762 39.49410, -0.35762 39.49409...",202,"[39.49635509681184, -0.36282126402044845]",SANT LLORENS,0.076189,3,3.0,6,0,4,8,2,False,8,15.641509,5,270,7,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"POLYGON ((-0.38139 39.49868, -0.38120 39.49693...",9,"[39.493005640921645, -0.3910022045676008]",BENICALAP,0.154520,3,3.0,6,3,4,18,2,False,8,26.000000,5,831,7,43,1
83,"POLYGON ((-0.39047 39.47825, -0.38996 39.47754...",28,"[39.473565513491664, -0.39098170775459257]",LA PETXINA,0.087284,3,4.0,6,1,4,11,2,False,8,12.000000,5,279,7,14,1
84,"POLYGON ((-0.37567 39.47381, -0.37423 39.47351...",37,"[39.47010643870186, -0.3760489821791233]",SANT FRANCESC,0.134529,3,4.0,6,0,4,2,2,True,8,12.000000,5,580,7,27,1
86,"POLYGON ((-0.36720 39.50425, -0.36767 39.50338...",201,"[39.494312122911424, -0.3699310988383476]",ELS ORRIOLS,0.153242,3,3.0,6,1,4,9,2,False,8,15.641509,5,214,7,21,1
87,"POLYGON ((-0.35839 39.45904, -0.35801 39.45867...",57,"[39.45287103221434, -0.3659376655648462]",NA ROVELLA,0.216731,3,3.0,6,1,4,7,2,False,8,21.000000,5,192,7,15,1

In [194]:
# Finalmente comprobamos la tabla para ver si hay alg√∫n null m√°s

barrios_df.isnull().sum()

geometry                        0
object_id_barrio                0
geo_point_2d                    0
nombre_barrio                   0
%_zona_verde                    0
id_caract_%_zona_verde          0
nivel_acustico                  0
id_caract_nivel_acustico        0
num_hospitales                  0
id_caract_num_hospitales        0
num_colegios                    0
id_caract_num_colegios          0
chargestations                  0
id_caract_num_chargestations    0
pm25                            0
id_caract_pm25                  0
num_contenedores                0
id_caract_num_contenedores      0
num_transporte                  0
id_caract_num_transporte        0
dtype: int64